@import "tailwindcss";

:root {
  --base-background: 255, 255, 255;
  --base-card: 255, 255, 255;
  --base-popover: 255, 255, 255;
  --base-muted: 245, 245, 245;
  --base-accent: 240, 240, 240;
  --base-border: 229, 229, 229;
  --base-input: 255, 255, 255;
  --base-focus-ring: 59, 130, 246;
  --base-foreground: 15, 23, 42;
  --base-card-foreground: 15, 23, 42;
  --base-popover-foreground: 15, 23, 42;
  --base-muted-foreground: 100, 116, 139;
  --base-primary: 59, 130, 246;
  --base-primary-hover: 37, 99, 235;
  --base-primary-disable: 191, 219, 254;
  --base-primary-foreground: 255, 255, 255;
  --base-secondary-hover: 241, 245, 249;
  --base-secondary-disable: 226, 232, 240;
  --base-secondary-foreground: 15, 23, 42;
  --base-accent-foreground: 15, 23, 42;
  --semantic-destructive: 239, 68, 68;
  --semantic-success: 34, 197, 94;
  --semantic-warning: 251, 191, 36;
  --semantic-info: 59, 130, 246;
}

